* {
  text-decoration: none;
}

div {
  text-align: center;
}

img {
  border-radius: 25px;
  max-width: 500px;
  max-height: 200px;
}

button {
  background-color: #b39212;
  font-size: 14pt;
  border-radius: 10px;
}

p {
  font-size: 20pt;
}

input {
  font-size: 20pt;
  margin-right: 5vw;
  margin-top: 10vh;
}

h2 {
  background-color: white;
  text-align: center;
}
